<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BotHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <BotHost.Properties.Settings>
            <setting name="BotPath" serializeAs="String">
                <value>C:\Work\Centurion\testBot</value>
            </setting>
            <setting name="DownloadUrl" serializeAs="String">
                <value>https://drive.google.com/open?id=1jM0uP1FKqETv09GF5YUq0nE6RRweYNCq&amp;export=download</value>
            </setting>
            <setting name="CheckUrl" serializeAs="String">
                <value>https://drive.google.com/uc?id=1_Y2kguvTsSjqXq-fpSel4I_18_uaA96E&amp;export=download</value>
            </setting>
            <setting name="BotFileName" serializeAs="String">
                <value>DeleteAllPost.exe</value>
            </setting>
            <setting name="VersionFileName" serializeAs="String">
                <value>version.txt</value>
            </setting>
        </BotHost.Properties.Settings>
    </applicationSettings>
</configuration>